
<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-slots">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Slots</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
					<h3 class="card-title">{{capacity.capacity}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="free-slots">
			  	<div class="card-header">
			  		<h5 class="card-title">Free Slots</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
					<h3 class="card-title">{{free_slots}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="busy-slots">
			  	<div class="card-header">
			  		<h5 class="card-title">Busy Slots</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
					<h3 class="card-title">{{busy_slots}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>